@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --color-primary: #252626;
      --color-primaryDark: #141719;
      --color-secondary: #35b0e8;
      --color-tertiary: #ea580c;
   }
}
html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   background-image: url(../assets/images/background.png);
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.normal {
   @apply bg-normal;
}
.fire {
   @apply bg-fire;
}
.water {
   @apply bg-water;
}
.electric {
   @apply bg-electric;
}
.grass {
   @apply bg-grass;
}
.ice {
   @apply bg-ice;
}
.fighting {
   @apply bg-fighting;
}
.poison {
   @apply bg-poison;
}
.ground {
   @apply bg-ground;
}
.flying {
   @apply bg-flying;
}
.psychic {
   @apply bg-psychic;
}
.bug {
   @apply bg-bug;
}
.rock {
   @apply bg-rock;
}
.ghost {
   @apply bg-ghost;
}
.dragon {
   @apply bg-dragon;
}
.dark {
   @apply bg-dark;
}
.steel {
   @apply bg-steel;
}
.fairy {
   @apply bg-fairy;
}
